<ion-view title="More">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Account</ion-item>
            <ion-item class="item-icon-left" href="#" ui-sref="tabs.profile"><i class="icon ion-person"></i>Profile</ion-item>
            <ion-item class="item-icon-left" href="#" ui-sref="tabs.account"><i class="icon ion-wrench"></i>Change Password</ion-item>
            <ion-item class="item-icon-left" ng-click="logout()"><i class="icon ion-log-out"></i>Logout</ion-item>

            <ion-item class="item-divider">Support</ion-item>
            <ion-item class="item-icon-left" href="#" ui-sref="tabs.about"><i class="icon ion-information-circled"></i>About Cekucek</ion-item>
            <ion-item class="item-icon-left" href="#" ui-sref="tabs.contact"><i class="icon ion-email"></i>Contact Us</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
