<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top fade-in-not-out">
        <ion-tab title="{{ 'home' | translate }}" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{ 'order' | translate }}" icon="ion-android-bicycle" href="#/tab/order">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{ 'history' | translate }}" icon="ion-clock" href="#/tab/order-list">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{ 'more' | translate }}" icon="ion-ios-more" href="#/tab/more">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Misc" icon="ion-ios-more" href="#/tab/misc" hidden="true">
            <ion-nav-view name="tab-misc"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
