<ion-view title="Cek-Kucek" hide-back-button="true">
	<ion-nav-title>
		<img src="img/logowhite.png" style="height: 18px; vertical-align: middle">
	</ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button icon" ui-sref="tabs.notifications">
			<i class="ion-ios-bell-outline"></i>
		</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>

		<div id="home" loading-box>
			<div>
				<div class="list noborder">
					<div class="item item-avatar item-text-wrap">
						<img ng-src="{{ user.avatar }}"/>
						<h2>{{ user.name }}</h2>
						<p ng-if="user.city">
							<i class="ion-location"></i>
							{{ user.city }}, {{ user.province }}, {{ user.country }}<br>
							<span ng-show="currentLocation">{{ currentLocation.latitude | number: 4 }}, {{ currentLocation.longitude | number: 4 }}<br>
							accurate to {{ currentLocation.accuracy | number: 0 }} meters</span>
						</p>
						<p>{{ user.title }}</p>
						<p ng-if="user.stat">{{ user.stat.completedOrders ? user.stat.completedOrders : 0 }} completed orders</p>
						<p>{{ 'member_since' | translate }} {{ user.created_at | dateToISO | date: 'mediumDate' }}</p>

					</div>

				</div>
			</div>

			<div class="list" ng-if="laundry">
				<div class="item item-divider">{{'preferred_laundry' | translate}}</div>
				<div class="item item-text-wrap" ui-sref="tabs.viewLaundry({ id: laundry.id })">
					<h3>{{ laundry.laundry_name }}</h3>
					<small><i class="icon ion-navigate"></i> {{ laundry.distance | number: 1 }} km</small>
				</div>
				<div class="item">
					<button class="button button-balanced button-block" ui-sref="tabs.order">{{ 'order_v' | translate }}</button>
					<button class="button button-stable button-block" ui-sref="tabs.laundries">{{ 'select_laundry' | translate }}</button>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
