<ion-view title="{{ 'view_order' | translate }}">
	<ion-content class="has-header padding">
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
		<div class="list">
			<div class="item item-divider">Order #{{ order.id }}</div>
			<div class="item">
				{{ 'laundry' | translate }}
				<span class="item-note">{{ order.laundry.laundry_name }}</span>
			</div>
			<div class="item">
				{{ 'package' | translate }}
				<span class="item-note">{{ order.package.package_name }}</span>
			</div>
			<div class="item">
				{{ 'expected_delivery_date' | translate }}
				<span class="item-note">{{ order.delivery_date ? order.delivery_date : 'Waiting confirmation' }}</span>
			</div>
			<div class="item">
				{{ 'processing_by' | translate }}
				<span class="item-note">{{ order.processor.name ? order.processor.name : 'Waiting confirmation' }}</span>
			</div>
			<div class="item">
				{{ 'delivery_by' | translate }}
				<span class="item-note">{{ order.deliveryman.name ? order.deliveryman.name : 'Waiting confirmation' }}</span>
			</div>
			<div class="item">
				{{ 'status' | translate }}
				<span class="item-note">{{ order.status }}</span>
			</div>
			<div class="item">
				{{ 'weight' | translate }}
				<span class="item-note">{{ order.weight }} kg</span>
			</div>
			<div class="item">
				{{ 'amount' | translate }}
				<span class="item-note">{{ order.amount_due | currency: 'Rp ' }}</span>
			</div>

			<div class="item item-divider">{{ 'items' | translate }}</div>
			<div class="item" ng-repeat="item in order.details">
				{{ item.type }}
				<span class="item-note">{{ item.pivot.qty }} pcs</span>
			</div>
		</div>

		<div class="padding" ng-show="!isConfirming" ng-if="order.status == 'Pre-order'">
			<div style="margin-bottom: 25px">{{ 'not_processed' | translate }}</div>
			<button class="button button-balanced" ng-click="confirmCancel()">{{ 'cancel_order' | translate }}</button>
		</div>
	</ion-content>
</ion-view>
